.border {
    margin-right: auto;
    margin-left: auto;
    border-style: solid;
    border-color: darkmagenta;
    margin-top: 5px;
    max-width: 900px;
    padding-left: 50px;
}

.editButton {
    float: right;
    margin-right: 10px;
}