.border {
    margin-right: auto;
    margin-left: auto;
    border-style: solid;
    border-color: darkmagenta;
    margin-top: 5px;
    max-width: 900px;
    padding-left: 50px;
}

.editButton {
    float: right;
    margin-right: 10px;
}

.bold {
    font-weight: bold;
}

.memberForm {
    border-style: solid;
    border-color: darkmagenta;
    text-align: center;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    max-width: 600px;
}