.border {
    margin-right: auto;
    margin-left: auto;
    border-style: solid;
    border-color: darkmagenta;
    margin-top: 5px;
    max-width: 900px;
    padding-left: 50px;
}

.editButton {
    float: right;
    margin-right: 10px;
}

.bold {
    font-weight: bold;
}

.memberPageHeader{
    font-size: 18px;
}

.formDiv {
    border-style: solid;
    border-color: darkmagenta;
    text-align: center;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    max-width: 600px;
}

.notesTa {
    height: 500px;
    width: 500px;
    margin-bottom: 30px;
}

.tierSelect {
    margin-bottom: 20px;
}

.backButton {
    float: left;
}